td {
  padding: 1px;
  font-size: small;
}

tr {
  padding: 1px;
  font-size: small;
}



input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  background-color: #eee;
  width: 100%;
}

table.fixed {
  border-color: none;
  table-layout: fixed;
  width: 300px;
}
