<div class="card mt-4">
    <h4 class="card-header">Home</h4>
    <div class="card-body">
        <p>You're logged in with Intra3!!</p>
        <ul>
          <li>Your nane is: <strong>{{user.firstName}} {{user.lastName}}</strong>.</li>
          <li>Your role is: <strong>{{user.role}}</strong>.</li>
          <!--<li>
            Timeout: <strong>{{timeout}}</strong> <button (click)="getTimeoutOnClick()">getTimeOut</button>
          </li>
          <li>
            Refreshtoken: <button (click)="refreshToken()">RefreshToken</button>
          </li>-->
        </ul>

        <!--<p>This page can be accessed by <u>all authenticated users</u>.</p>
        <p class="mb-1">Current user from secure api end point:</p>
        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
        <ul *ngIf="userFromApi">
            <li>{{userFromApi.firstName}} {{userFromApi.lastName}}</li>
        </ul> -->
    </div>
</div>
